.section-auth {
    display: flex;
    width: min(40rem, 80vw);
    height: 50rem;
}

.section-auth__left {
    flex: 1;
}

.section-auth__right {
    flex: 1;
}

.section-login {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    padding: 2rem;
    width: min(60vw, 30rem);
    text-align: center;
    position: relative;
    background: #ffffff;
}
