.section-register {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    padding: 2rem;
    width: min(80vw, 43rem);
    text-align: center;
    position: relative;
    background: #ffffff;
}

.section-register__heading {
    margin-bottom: 5rem;
    margin-top: 3rem;
    font-size: 4rem;
}

.register-form {

}

.register-form input {
    padding: 1rem;
    outline: none;
}

.form-field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.error-message {
    font-size: 1.7rem;
    color: #ff6b6b;
    text-align: left;
    margin-bottom: .6rem;
}

.error-field {
    border: 3px solid #ff6b6b;
}

/* FORM 2 */
.form-2 {
    background: green;
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    height: 100%;
    top: 0;
}

.form-3 {
    background: green;
    position: absolute;
    width: 100%;
    transform: translateX(200%);
    height: 100%;
    top: 0;
    margin-left: 2rem;
}
