.top-post {
    border-radius: .4rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0, .2);
    /*border: 1px solid;*/
    display: block;
    margin: 1rem;
    padding: 1rem;
    height: 20rem;
    /*background: linear-gradient(rgba(255, 255, 255, .8), rgba(112, 161, 255, .8)), url("pngwing.com (28).png") center/cover no-repeat;*/
    background: url("pngwing.com (29).png") center/cover no-repeat;
    text-decoration: none;
    color: #2f3542;
    cursor: pointer;
    position: relative;
}

.top-post::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
    transition: all .4s;
}

.top-post::after {
    content: "Check It!";
    width: max-content;
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-7deg);
    /*color: #5352ed;*/
    color: blueviolet;
    z-index: 1000;
    transition: all .4s;
    opacity: 0;
}

.top-post:hover::before {
    opacity: 1;
}

.top-post:hover::after {
    opacity: 1;
    transform: translate(-50%, -70%) rotate(-7deg);
}

/* width */
.top-post::-webkit-scrollbar {
    width: 1rem;

}

/* Track */
.top-post::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.top-post::-webkit-scrollbar-thumb {
    display: none;
    background: #70a1ff;
    border-radius: 10px;
}

/* Handle on hover */
.top-post::-webkit-scrollbar-thumb:hover {
    background: #1e90ff;
}

.top-post:hover::-webkit-scrollbar-thumb {
    display: inherit;
}

.top-post__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

