.section-friends {
    width: 100%;
    height: calc(100vh - 6rem);
    position: sticky;
    top: 6rem;
    color: #70a1ff;
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(112, 161, 255, .8)), url("friends-section-02.png");
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 2rem;
}

.section-friends__heading {
    margin-bottom: 2rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: normal;
}

.friends {
    list-style: none;
    height: 98%;
    overflow: auto;
    padding-bottom: 5rem;
}

/* width */
.friends::-webkit-scrollbar {
    width: 1rem;

}

/* Track */
.friends::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.friends::-webkit-scrollbar-thumb {
    display: none;
    background: #70a1ff;
    border-radius: 10px;
}

/* Handle on hover */
.friends::-webkit-scrollbar-thumb:hover {
    background: #1e90ff;
}

.friends:hover::-webkit-scrollbar-thumb {
    display: inherit;
}

.friends__item {

}

.friend-username {
    margin-left: 2rem;
    /*color: #70a1ff;*/
}

.friends__item--link {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: .8rem 2rem;
    transition: background-color .2s;
    border-radius: .4rem;
    color: #444444;
}

.friends__item--link:hover {
    background-color: rgba(0,0,0,.2);
    color: ghostwhite;
}

.friends__item--avatar-box {

}

.friends__item--avatar-box img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 100px;
}

