@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#root {
  min-height: 100vh;
  max-height: max-content;
}
:root, html {
    font-size: 62.5%;
}

html, body {
  min-height: 100vh;
  height: max-content;
  scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    color: #444;
    color: #2f3542;
}

.page-link {
    color: black !important;
}

a:hover {}
.page-item.active a {
    background-color: rgba(162,200,236, 1.0) !important;
    border-color: rgba(162,200,236, 1.0) !important;
}

/* Responsiveness */

@media (max-width: 550px) {
    :root, html {
        /*font-size: 37.5%;*/
        font-size: 50%;
    }
}

@media (max-width: 1110px) {
    body {
        font-size: 1.5rem;
    }
}

@media (min-width: 1110px) {
    body {
        font-size: 1.8rem;
    }
}

/* UTILS */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.mb-m {
    margin-bottom: 4rem;
}

/* BUTTONS */
.cta {
    cursor: pointer;
    transition: all .2s;
    border: none;
    color: #2f3542;
}

.cta--login {
    padding: 1rem 2.8rem;
    background-color: #2980b9;
    color: white;
    border: none;
}

.cta--login:hover {
    background-color: #3498db;
}

.cta--register {
    padding: 1rem 2.8rem;
    background-color: #2980b9;
    color: white;
    border: none;
}

.cta--register:hover {
    background-color: #3498db;
}

.cta--create-post {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    border: none;
    background: #70a1ff;
    color: white;
    cursor: pointer;
    transition: all .2s;
}

.cta--create-post:hover {
    background: #81b0ff;
}

.cta--input-file-label {
    position: absolute;
    background: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    cursor: pointer;
}

.cta--input-file-label input {
    display: none;
}

.cta--remove-img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
}

.cta--close-form {
    cursor: pointer;
    background: rgba(0,0,0,.2);
    border-radius: 100px;
    font-size: 3rem;
    padding: .4rem;
}

.cta--cancel-comment {
    border: none;
    cursor: pointer;
    background-color: #ffa502;
    color: ghostwhite;
    font-size: 1.8rem;
    margin-top: 1rem;
    transition: background-color .2s;
}

.cta--cancel-comment:hover {
    background-color: #eccc68 ;
}

.cta--post-action {
    transition: background-color .2s;
    border-radius: .4rem;
}

.cta--post-action:hover {
    /*background-color: #1e90ff;*/
    background-color: #70a1ff;
    color: ghostwhite;
}

.cta--close-single-post {
    font-size: 4rem;
    color: ghostwhite;
    position: absolute;
    top: 2rem;
    left: 2rem;
    transition: all .2s;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta--close-single-post:hover {
    background-color: rgba(0,0,0,.3);
}

.cta--embed {
    position: absolute;
    background: bisque;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    cursor: pointer;
}
