.section-top-posts {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 6rem);
    padding: 2rem 0;
    position: sticky;
    top: 6rem;
    /*background: linear-gradient(rgba(255, 255, 255, .8), rgba(112, 161, 255, .8));*/
}

.section-top-posts h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: #70a1ff;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: normal;
}

/* width */
.section-top-posts::-webkit-scrollbar {
    width: 1rem;

}

/* Track */
.section-top-posts::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.section-top-posts::-webkit-scrollbar-thumb {
    display: none;
    background: #70a1ff;
    border-radius: 10px;
}

/* Handle on hover */
.section-top-posts::-webkit-scrollbar-thumb:hover {
    background: #1e90ff;
}

.section-top-posts:hover::-webkit-scrollbar-thumb {
    display: inherit;
}