.single-post-page {
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - 5.4rem);
}

@media (max-width: 720px) {
    .single-post-page {
        flex-flow: column;
        min-height: 100vh;
    }
}

/* Left side */
.single-post-page__left {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: #2f3542;
    padding: 2rem;
    position: relative;
    height: 100%;
}

@media (max-width: 1320px) {
    .single-post-page__left {
        flex: 1;
    }
}

.single-post-img-box {
    display: flex;
}

.single-post-img-box img {
    max-width: 100%;
    max-height: 90vh;
}

/* Right side */
.single-post-page__right {
    flex: 1;
    border: 1px solid;
    height: 100%;
    overflow: auto;
    background-color: #f1f2f6;
}

@media (max-width: 720px) {
    .single-post-page__right {
        overflow: inherit;
    }
}


/* width */
.single-post-page__right::-webkit-scrollbar {
    width: 1rem;

}

/* Track */
.single-post-page__right::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.single-post-page__right::-webkit-scrollbar-thumb {
    display: none;
    background: #70a1ff;
    border-radius: 10px;
}

/* Handle on hover */
.single-post-page__right::-webkit-scrollbar-thumb:hover {
    background: #1e90ff;
}

.single-post-page__right:hover::-webkit-scrollbar-thumb {
    display: inherit;
}