.module {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    z-index: 100;
    position: relative;

}

.module-layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

/*.module-layout {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}*/
