.comment-box {
    position: relative;
    margin: 3rem 0;
    background: #ced6e0;
    border-radius: 1.4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.comment-box__avatar {
    background-color: #636e72;
    height: 4rem;
    width: 4rem;
    border-radius: 100px;
    position: absolute;
    top: -2rem;
    left: -2rem;
    transition: all .4s;
}

.comment-box__text {
    border-radius: .4rem;
    padding: 1rem;
    border: 1px solid #444;
    width: 100%;
    text-align: left;
}