.section-post-form {
    background: blueviolet;
    border: 1px solid;
    border-radius: 0.2rem;
    width: 36rem;
    padding: 2rem;
}

#post {
    width: 100%;
    border-left: none;
    border-right: none;
    outline: none;
    padding: 1rem;
}

.input-file-label {
    cursor: pointer;
    border-radius: 100px;
    padding: 1rem;
    transition: all .2s;
}

.input-file-label:hover {
    background-color: #dfe6e9;
}

.input-file-label:active {
    transform: scale(1.2);
}

#inputFile {
    display: none;
}

.preview-img-box {

}

.preview-img-box img {
    width: 100%;
}