.section-comments {
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: .2rem;
    background: #f1f2f6;
    margin-top: -6rem;
    margin-bottom: 5rem;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .6rem;
}

.section-comments::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: darkgrey;
}

.comment-form textarea {
    background: #ced6e0;

}