.aniticon-select {
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    display: block;
    transition: .2s;
}

@media (max-width: 930px) {
    .aniticon-select {
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width: 780px) {
    .aniticon-select {
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 720px) {
    .aniticon-select {
        width: 6rem;
        height: 6rem;
    }
}


.aniticon-select:hover {
    transform: scale(1.2);
}

.aniticon-base {
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    display: block;
    transition: .2s;
}

.smile {

}

.blink {
    background: url("face07.png") center/cover;
}

.angry {
    background: url("face02.png") center/cover;
}

.sad {
    background: url("face03.png") center/cover;
}

.happy {
    background: url("face04.png") center/cover;
}

.ninja {
    background: url("face05.png") center/cover;
}

.cat {
    background: url("face06.png") center/cover;
}

