.comment-form {
    position: relative;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.comment-form-box--real {
    width: 100%;
    margin-bottom: 4rem;
}

.preview-comment-img-box {
    max-width: 13rem;
}

.preview-comment-img-box img {
    width: 100%;
}

.comment-input {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.8rem 1rem 1rem 2rem;
    height: 10rem;
    outline: none;
    border: none;
    border-radius: .4rem;
    transition: all .4s linear;
    color: #444444;
}

.h-20 {
    height: 20rem;
}

form button {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    border-radius: .4rem;
    text-align: center;
}

.comment-form-box {
    position: relative;
    margin: 3rem 0;
}

.comment-form-box__avatar {
    background-color: #636e72;
    height: 4rem;
    width: 4rem;
    border-radius: 100px;
    position: absolute;
    top: -2rem;
    left: -2rem;
    transition: all .4s;
}

.comment-form-box__text {
    border-radius: 100px;
    padding: 1rem;
    border: 1px solid #444;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

#commentInputFile {
    display: none;
}

#embed-comment {
    width: 100%;
    padding: .4rem 1rem;
}

.cta--input-file-label--comment {
    top: -1.6rem;
    right: 6rem;
    font-size: 2.5rem;
}

.cta--input-file-label--comment:hover {
    background: #70a1ff;
}

.cta--embed-comment {
    top: -1.6rem;
    right: 1rem;
    font-size: 2.5rem;
}

.cta--embed-comment:hover {
    background: #70a1ff;
}