.section-post-form {
    padding: 2rem;
    background: white;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,.2);
    width: min(85vw, 55rem);
    color: #444;
}

.section-post-form__heading {
}

.cta--close-form--post {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.post-form {
    position: relative;
}

.post-actions {
    display: flex;
    justify-content: space-between;
}

.preview-img-box {
    max-height: 24rem;
    overflow: scroll;
    position: relative;
}

.preview-img-box img {
    max-width: 100%;
}

.input-file-label {
    cursor: pointer;
}

#inputFile {
    display: none;
    cursor: pointer;
}

#post {
    outline: none;
    border: none;
    background: #ced6e0;
    padding: 1rem;
}

#embed {
    width: 100%;
    padding: .4rem 1rem;
}

.cta--input-file-label--post {
    top: 1.8rem;
    right: 6rem;
    font-size: 2.5rem;
}

.cta--input-file-label--post:hover {
    background: #70a1ff;
}

.cta--embed-post {
    top: 1.8rem;
    right: 1rem;
    font-size: 2.5rem;
}

.cta--embed-post:hover {
    background: #70a1ff;
}
