.post {
    /*border: 2px solid black;*/
    width: 100%;
    border-radius: .6rem;
    padding: 1rem 1rem 0;
    background-color: #f1f2f6;
    position: relative;
}

.post + .post {
    margin-top: 5rem;
}

.post__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.post__main-info {
    display: flex;
    align-items: center;
}

.post__avatar {
    width: 6rem;
    height: 6rem;
}

.post__avatar--img {
    width: 6rem;
    height: 6rem;
    border-radius: 100px;
    border: 3px solid #a4b0be;
    object-fit: cover;
}

.post__username {
    margin-left: 1rem;
}

.post__body {

}

.post__content {
    padding: 2rem 1rem;
}

.post__text {
    margin-bottom: 1rem;
}

.post__sub-content {
    font-size: 1.2rem;
    text-align: right;
}

.post__main-actions {
    position: relative;
}

.post__settings {
    list-style: none;
    padding: 1rem;
    border: 1px solid;
    border-radius: .4rem;
    background-color: #636e72;
    color: white;
    position: absolute;
    z-index: 10;
}

.post__settings-menu-icon {
    display: flex;
    cursor: pointer;
    border-radius: 100px;
    transition: all .2s;
    padding: 1rem;
}

.post__settings-menu-icon:active {
    transform: scale(1.2);
}

.post__settings-menu-icon:hover {
    background-color: #dfe6e9;
}

.post__settings-item {
    padding: 1rem;
    border-radius: .4rem;
    transition: all .2s;
    cursor: pointer;
}

.post__settings-item:hover {
    background-color: #444444;
}

.post__settings-item--edit {

}

.post__settings-item--delete {

}

.post-img-box {
    display: block;
    text-align: center;
}

.post__footer {

}

.post__sub-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
}

.post__reactions {
    display: flex;
    margin-right: 1rem;
}

.post__reactions--counter {
    margin-right: auto;
}

.post__actions {
    display: flex;
    /*flex-flow: row wrap;*/
    font-size: 2rem;
    padding: 2rem 1rem;
}

.cta--post-action {
    padding: 1rem 4rem;
    font-size: 2rem;
}

.cta__like {
    flex-grow: 1;
    position: relative;
}

.cta__like:hover .reactions-list {
    display: flex;
}

.cta__comments {
    flex-grow: 5;
    margin-left: 1rem;
}

.post-img {
    max-width: 100%;
    margin-top: 1.3rem;
}

/*CARD ICONS*/
.public-or-private-icon {
    font-size: 1.4rem;
}

.reactions-list {
    display: none;
    left: -10rem;
    border-radius: .4rem;
    padding: 1rem;
    background-color: #ff6b6b;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-100%) translateX(-50%);
}

.aniticon-box {
    position: relative;
    background: blueviolet;
    border-radius: 100px;
    border: 2px solid #F1F2F6;
}
